.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.custom-modal-content {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  max-width: 600px;
  width: 90%;
  position: relative;
}
.modal {
  &-search-input {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width:90%;
    padding-left: 10px;
  }
  &-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 23px;
    right: 30px;
    cursor: pointer;
  }
}

.result{
&-item {
}
  &-img{
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 7%;
}

&-title {
  font-weight: bold;
}
&-description {
  font-size: 0.9rem;
}
&-link {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
}
}





@media (max-width: 600px) {
  .modal-close {
    font-size: 1.2rem;
  }

  .custom-modal-content {
    padding: 20px;
  }
}
